<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
;(function(win, lib) {
    var doc = win.document;
    var docEl = doc.documentElement;
    var metaEl = doc.querySelector('meta[name="viewport"]');
    var flexibleEl = doc.querySelector('meta[name="flexible"]');
    var dpr = 0;
    var scale = 0;
    var tid;
    var flexible = lib.flexible || (lib.flexible = {});
    
    if (metaEl) {
        var match = metaEl.getAttribute('content').match(/initial\-scale=([\d\.]+)/);
        if (match) {
            scale = parseFloat(match[1]);
            dpr = parseInt(1 / scale);
        }
    } else if (flexibleEl) {
        var content = flexibleEl.getAttribute('content');
        if (content) {
            var initialDpr = content.match(/initial\-dpr=([\d\.]+)/);
            var maximumDpr = content.match(/maximum\-dpr=([\d\.]+)/);
            if (initialDpr) {
                dpr = parseFloat(initialDpr[1]);
                scale = parseFloat((1 / dpr).toFixed(2));    
            }
            if (maximumDpr) {
                dpr = parseFloat(maximumDpr[1]);
                scale = parseFloat((1 / dpr).toFixed(2));    
            }
        }
    }

    if (!dpr && !scale) {
        var isAndroid = win.navigator.appVersion.match(/android/gi);
        var isIPhone = win.navigator.appVersion.match(/iphone/gi);
        var devicePixelRatio = win.devicePixelRatio;
        if (isIPhone) {
            // iOS下，对于2和3的屏，用2倍的方案，其余的用1倍方案
            if (devicePixelRatio >= 3 && (!dpr || dpr >= 3)) {                
                dpr = 3;
            } else if (devicePixelRatio >= 2 && (!dpr || dpr >= 2)){
                dpr = 2;
            } else {
                dpr = 1;
            }
        } else {
            // 其他设备下，仍旧使用1倍的方案
            dpr = 1;
        }
        scale = 1 / dpr;
    }

    docEl.setAttribute('data-dpr', dpr);
    if (!metaEl) {
        metaEl = doc.createElement('meta');
        metaEl.setAttribute('name', 'viewport');
        metaEl.setAttribute('content', 'initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
        if (docEl.firstElementChild) {
            docEl.firstElementChild.appendChild(metaEl);
        } else {
            var wrap = doc.createElement('div');
            wrap.appendChild(metaEl);
            doc.write(wrap.innerHTML);
        }
    }

    function refreshRem(){
        var width = docEl.getBoundingClientRect().width;
        if (width / dpr > 600) {
            width = 600 * dpr;
        }
        var rem = width / 10;
        docEl.style.fontSize = rem + 'px';
        flexible.rem = win.rem = rem;
        setTimeout(function() {
            flexible.setPFullMinHeight();
        });
    }

    win.addEventListener('resize', function() {
        clearTimeout(tid);
        tid = setTimeout(refreshRem, 300);
    }, false);
    win.addEventListener('pageshow', function(e) {
        if (e.persisted) {
            clearTimeout(tid);
            tid = setTimeout(refreshRem, 300);
        }
    }, false);

    if (doc.readyState === 'complete') {
        doc.body.style.fontSize = 12 * dpr + 'px';
    } else {
        doc.addEventListener('DOMContentLoaded', function(e) {
            doc.body.style.fontSize = 12 * dpr + 'px';
        }, false);
    }
    

    refreshRem();

    flexible.dpr = win.dpr = dpr;
    flexible.refreshRem = refreshRem;
    flexible.rem2px = function(d) {
        var val = parseFloat(d) * this.rem;
        if (typeof d === 'string' && d.match(/rem$/)) {
            val += 'px';
        }
        return val;
    }
    flexible.px2rem = function(d) {
        var val = parseFloat(d) / this.rem;
        if (typeof d === 'string' && d.match(/px$/)) {
            val += 'rem';
        }
        return val;
    }
    flexible.setPFullMinHeight = function() {
        var height = (window.screen.availHeight || window.screen.height) * dpr;

        if(!flexible.stylesheet) {
            flexible.stylesheet = document.createElement('style');
            document.head.appendChild(flexible.stylesheet);
        }

        flexible.stylesheet.textContent = '.p_full{min-height:'+height+'px}';
    }
})(window, window['lib'] || (window['lib'] = {}));
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="dns-prefetch" href="//res1.kezhanwang.cn">
    <link rel="dns-prefetch" href="//img1.kezhanwang.cn">
    <link rel="dns-prefetch" href="//img2.kezhanwang.cn">
    <link rel="dns-prefetch" href="//img3.kezhanwang.cn">
    <link rel="dns-prefetch" href="//img4.kezhanwang.cn">
    <link rel="dns-prefetch" href="//img5.kezhanwang.cn">
    <link id="style_css" rel="stylesheet" type="text/css" href=<%- FrontEnd.getUrl("/static/mh5/css/style.css") %> >
    <% if(css) { %>
    <link id="<%= css.replace('.', '_') %>" rel="stylesheet" type="text/css" href="/static/mh5/css/<%= css %>">
    <% } %>
    <title><%- seo.title || "课栈网_我们成就你的梦" %></title>
    <meta content="<%- seo.keywords || "课栈网,IT培训,兴趣培训,英语培训,托福培训,试听" %>" name="keywords" />
    <meta content="<%- seo.description || "课栈网专注各类培训主要包含：IT类培训、英语类培训、兴趣类培训、K12类培训、托福培训、口语培训等培训科目，找培训就上课栈网." %>" name="description" />
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?85a02415aee87314288323f4a980ef53";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
    <div id="controller" style="height: 100%;">
        <%- page %>
    </div>
    <div id="page_loading" class="p_loading" style="display:none">
        <div class="wrapper">
            <div class="w_loading"></div>
        </div>
    </div>
    <script type="text/javascript">
        window.kz_m = {
            base: '<%- FrontEnd.getDomain() %>',
            api: '<%- config.domain %>',
            java: '<%- config.javaDomain %>',
            route: <%- routes || {} %>,
            jsTicket: <%- JSON.stringify(jsTicket || {}) %>,
            Controllers: {}
        }
    </script>
    <script id="state" type="application/json"><%- state %></script>
    <script id="user" type="application/json"><%- user %></script>
    <script type="text/javascript" src="<%- FrontEnd.getUrl('/static/mh5/js/app.js') %>"></script>
    <script type="text/javascript" src="<%- FrontEnd.getUrl('/static/mh5/js/pages/'+js+'.js') %>"></script>
</body>
</html>